<div id="dropin-wrapper">
    <div id="checkout-message"></div>
    <div id="dropin-container"></div>
    <label id="txn-label">Enter transaction amount: </label><input id="txn-amount" />
    <button id="submit-button">Submit payment</button>
</div>
<script>
    var button = document.querySelector('#submit-button');

    braintree.dropin.create({
        // Insert your tokenization key here
        authorization: 'sandbox_242yzy8j_p87g3wg67bqn9dc7',
        container: '#dropin-container'
    }, function (createErr, instance) {
        button.addEventListener('click', function () {
            instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
                var txnamount = document.getElementById('txn-amount').value;
                // When the user clicks on the 'Submit payment' button this code will send the
                // encrypted payment information in a variable called a payment method nonce
                $.ajax({
                    type: 'POST',
                    url: '/checkout',
                    data: { 'paymentMethodNonce': payload.nonce, 'amount': txnamount }
                }).done(function (result) {
                    // Tear down the Drop-in UI
                    instance.teardown(function (teardownErr) {
                        if (teardownErr) {
                            console.error('Could not tear down Drop-in UI!');
                        } else {
                            console.info('Drop-in UI has been torn down!');
                        }
                        $('#submit-button').remove();
                        $('#txn-amount').remove();
                        $('#txn-label').remove();
                    });

                    const tAmount = result.transaction.amount;
                    const tRespText = result.transaction.processorResponseText;
                    const tRespCode = result.transaction.processorResponseCode;

                    if (result.success) {
                        console.log(result);
                        document.getElementById("checkout-message").innerHTML = "<h1>Success</h1><p>Amount Paid: " + tAmount + "</p><p>Response Code: " + tRespCode + "</p><p>Response Text: " + tRespText + "</P>";

                    } else {
                        console.log(result);
                        document.getElementById("checkout-message").innerHTML = "<h1>Error</h1><p>Response Code: " + tRespCode + "</p><p>Response Text: " + tRespText + "</P>";
                    }
                });
            });
        });
    });
</script>